*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
} 
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    text-decoration: none;
    margin-top: 15px;
}
#nav a{
    color: #111;
    margin-left: 30px;
    text-decoration: none;
}
#main h1{
 font-size: 300px;
 color: black;
 margin-left: 30px;
}
#bottombar h3{
    font-size: 30px;

}