*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} html,body{
    height: 100%;
    width: 100%;
}

main{
 height: 100%;
 width: 100%;
 background-color: black;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 10px;
}
button{
    
    padding:10px 20px ;
    background-color: lightblue;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    z-index: 9;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
button:active{
    scale: 0.95;
}